<div class="container">
    <div class="applied-jobs-container">
        <h2>Applied Jobs</h2>
        
        <button id="show-applied-btn" onclick="document.querySelector('.jobs-list').classList.toggle('show')">
        Show Applied Jobs
        </button>
        <div *ngIf="message.length > 0" class="alert alert-success">
            <ul>
                <li *ngFor="let msg of message">{{msg}}</li>
            </ul>
        </div>
        
        <ul class="jobs-list">
        <li *ngFor="let job of appliedJobs">
            <div class="job-info">
            <strong>{{job.job_post.title}}</strong>
            <span>{{job.job_post.company.name}}</span>
            <small class="status-under-review">Status: {{job.status}}</small>
            </div>

            @if(job.job_post.status == 'completed'){
                <div class="job-info">
                    <small class="status-completed">Status: Completed</small>
                </div>
            }@else if(job.job_post.status == 'active'){
            <div class="job-actions">
            <button class="delete-btn" title="Delete" (click)="cancelApplication(job.id)">🗑️</button>
            @if(job.status == 'accepted'){
            <button class="complete-btn" title="Complete" (click)="completeApplication(job.id)">👀</button>
            }
            </div>
            }
        </ul>
    </div>
</div>