        <div>
            <br>
            <br>
            <br>
        </div>
        
        <div class="row justify-content-center text-center mb-2 mb-lg-4">
			<div class="col-12 col-lg-8 col-xxl-7 text-center mx-auto">
				
				<h4 class="display-6 fw-bold" style="color: #bf272d;">Apply More Applicant and Check More CVs</h4>
				<p class="lead"></p>
			</div>
		</div>

    <div class="wrapper">
            <div class="pricing-table gprice-single">
                <div class="head">
                    <h4 class="title">Basic</h4> 
                </div>
                <div class="content">
                    <div class="price">
                        <h1>Free</h1>
                    </div>
                    <ul>
                        <li>Publish (10) job post</li>
                        <li>Check (30) applicant CVs</li>
                        <li>Responsive Framework</li>
                        <li>Monthly Billing for use</li>
                        

                    </ul>
                    <div class="">
                        <a href="#" class="btn bordered radius" style="color: #bf272d;  pointer-events: none;" >Signup Now</a>
                    </div>
                </div>
            </div>
                <div class="pricing-table gprice-single">
                    <div class="head">
                        <h4 class="title">Standard</h4>
                    </div>
                    <div class="content">
                        <div class="price">
                            <h1>100 EGP</h1>
                        </div>
                        <ul>
                            <li>Publish (20) job post</li>
                            <li>Check (60) applicant CVs</li>
                            <li>Responsive Framework</li>
                            <li>Monthly Billing for use</li>
                
                        </ul>
                        <div class="sign-up">
                            <a href="#" class="btn bordered radius" routerLink="/payment">GET PLAN</a>
                        </div>
                    </div>
                </div>
                    <div class="pricing-table gprice-single">
                        <div class="head">
                            <h4 class="title">Premium</h4>
                        </div>
                        <div class="content">
                            <div class="price">
                                <h1>250 EGP</h1>
                            </div>
                            <ul>
                                <li>Publish unlimited job posts</li>
                                <li>Check applicant CVs</li>
                                <li>Responsive Framework</li>
                                <li>Monthly Billing for use</li>
                                <li>Get Statistics about job applicants</li>
                            </ul>
                            <div class="sign-up">
                                <a href="#" class="btn bordered radius" routerLink="/payment">GET PLAN</a>
                            </div>
                        </div>
                    </div>
    </div>
