<div class="dashboard-container">
  
  <h2> Job Dashboard</h2>

  <!-- Edit Job Form -->
  <form [formGroup]="jobForm" (ngSubmit)="onSubmit()" class="job-form">

<h3>Edit Job Details</h3>

<label for="title">Title</label>
<input id="title" type="text" formControlName="title" required />

<label for="location">Location</label>
<input id="location" type="text" formControlName="location" required />

<label for="type">Type</label>
<select id="type" formControlName="type" required>
  <option value="Full Time">Full Time</option>
  <option value="Part Time">Part Time</option>
  <option value="Internship">Internship</option>
  <option value="Remote">Remote</option>
</select>



<label for="skills">Skills</label>
<textarea id="skills" formControlName="skills" required></textarea>

<label for="description">Description</label>
<textarea id="description" formControlName="description" required></textarea>

<label for="requirements">Requirements</label>
<textarea id="requirements" formControlName="requirements" required></textarea>

<label for="responsibilities">Responsibilities</label>
<textarea id="responsibilities" formControlName="responsibilities" required></textarea>

<label for="min_salary">Minimum Salary</label>
<input id="min_salary" type="text" formControlName="min_salary" placeholder="e.g. 5000" />

<label for="max_salary">Maximum Salary</label>
<input id="max_salary" type="text" formControlName="max_salary" placeholder="e.g. 10000" />

<label for="experience">Experience</label>
<input id="experience" type="text" formControlName="experience" placeholder="e.g. 3 years" />

<label for="expires_at">Expires At</label>
<input id="expires_at" type="date" formControlName="expires_at" />

<div>
  <input id="is_remote" type="checkbox" formControlName="is_remote" />
  <label for="is_remote">Is Remote</label>
</div>

<div>
  <input id="published" type="checkbox" formControlName="published" />
  <label for="published">Published</label>
</div>

<br><br>

<button type="submit" class="btn btn-outline-success" style="margin-right: 10px; background-color: #bf272d; color: white;">
  Save Changes
</button>
<button type="button" class="btn btn-outline-success" style="margin-right: 10px; background-color: #bf272d; color: white;" routerLink="/jobpreview">
  Post New Job
</button>
</form>

</div>
