<div class="dashboard-container">
    <!-- Edit Job Form -->
    <form class="job-form">
      <h3>Edit Job Details</h3>

      <label>Title</label>
      <input type="text" value="Frontend Developer" required>

      <label>Location</label>
      <input type="text" value="Cairo, Egypt" required>

      <label>Type</label>
      <select>
        <option selected>Full Time</option>
        <option>Part Time</option>
        <option>Internship</option>
        <option>Remote</option>
      </select>

      <label>Skills</label>
      <textarea required>HTML, CSS, JavaScript</textarea>

      <label>Description</label>
      <textarea required>We're hiring a frontend developer...</textarea>

      <label>Requirements</label>
      <textarea required>2+ years experience, Git, React</textarea>

      <label>Application Email</label>
      <input type="email" value="new.com" required>
      <br>
      <br>

      <button  class="btn btn-outline-success" type="submit" style="margin-right: 10px; background-color: #bf272d; color: white;" >Save Changes</button>

    </form>

  </div>
