<section class="py-5">
	<div class="container">
		<div class="row gx-4 align-items-center justify-content-between">
			<div class="col-md-5 order-2 order-md-1">
				<div class="mt-5 mt-md-0">
				
					<h2 class="display-5 fw-bold" style="color: #bf272d;">About Us</h2>
					<p class="lead" align="justify">The ITI Graduation Tracking System is an innovative platform designed to bridge the gap between graduates and potential employers, facilitating seamless communication and career opportunities. </p>
					<p class="lead" align="justify">This system allows graduates to showcase their skills, qualifications, and career preferences, while companies can search and connect with suitable candidates based on their hiring needs. Additionally, the ITI administration plays a pivotal role in monitoring and assisting graduates by providing job recommendations, organizing recruitment events, and offering career guidance. </p>
                    <p class = "lead" align="justify">The system also generates comprehensive statistics on graduates' employment status, including hiring rates, industry distribution, and skill demand, enabling ITI to refine training programs and improve future employability. </p>
                    <p class = "lead" align="justify"> By streamlining the job placement process and providing valuable insights, the ITI Graduation Tracking System enhances workforce readiness and strengthens the connection between education and industry demands.</p>			
                </div>
			</div>
			<div class="col-md-6 offset-md-1 order-1 order-md-2">
				<div class="row gx-2 gx-lg-3">
					<div class="col-6">
						<div class="mb-2"><img class="img-fluid rounded-3" src="images/About_1.PNG"></div>
					</div>
					<div class="col-6">
						<div class="mb-2"><img class="img-fluid rounded-3" src="images/About_2.PNG"></div>
					</div>
					<div class="col-6">
						<div class="mb-2"><img class="img-fluid rounded-3" src="images/About_3.PNG"></div>
					</div>
					<div class="col-6">
						<div class="mb-2"><img class="img-fluid rounded-3" src="images/About_4.PNG"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>