<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/im1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/im2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="im1.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

<div class="container px-4 px-lg-5">
    <!-- Call to Action-->
    <div class="card text-white  my-5 py-4 text-center" style="background-color: #bf272d;">
        <h1 style="text-align: center;">ITI-GTS</h1>
        <h4 style="text-align: center;">Graduates Traking System</h4>
        <div class="card-body"><p class="text-white m-0" style="font-size: medium;">ITI- GTS is a comprehensive digital platform 
            designed to monitor, evaluate, and enhance the career progression of information technology institute graduates 
            in Egypt. ITI- GTS aims to I help graduate students by connecting them with technology companies and providing 
            real-time insights into graduates' employment status, skill development, and companies needs.</p></div>
    </div>
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><iframe width="700" height="315" src="https://www.youtube.com/embed/DIFCMtzg7xg?si=WKm4GC6lntL4FwPa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Graduates Review about ITI Training</h1>
            <p>،، The training was intense and required full commitment, but it was worth it. The curriculum is up-to-date with the market demands, and the capstone project helped me build a strong portfolio. My only concern was the fast-paced schedule, which can be tough without strong time management ,,</p>
        </div>
    </div>
    
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title" style="text-align: center;">4 Months Graduates till 2025</h2>
                    <p class="card-text" style="text-align: center; font-size: larger;">+ 100 thousands</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title" style="text-align: center;">9 Months Graduates till 2025 </h2>
                    <p class="card-text" style="text-align: center; font-size: larger;">+ 100 thousands</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title" style="text-align: center;">Short Trainings Graduates</h2>
                    <p class="card-text" style="text-align: center; font-size: larger;">+ 100 thousands</p>
                </div>
            </div>
        </div>

        <div class="card text-white  my-5 py-4 text-center" style="background-color: #bf272d;">
            <h1 style="text-align: center;">Industry Parteners</h1>
            <img src="images/im3.jpg">
        </div>
    </div>
</div>






