<div class="container">
        
            <div class="col-12 col-lg-8 col-xxl-7 mx-auto">
                <form action="Post">
                    <div class="column">
                        <h3 class="display-5 fw-bold" style="color: #bf272d;">Payment</h3>
                        <div class="input-box">
                            <span>Cards Accepted :</span>
                            <img src="images/visa.png" alt="" style="margin-right: 10px ;">
                            <img src="images/master.png" alt="">
                        </div>
                        <div class="input-box">
                            <span>Name On Card :</span>
                            <input type="text" placeholder="AHMED FATHY">
                        </div>
                        <div class="input-box">
                            <span>Credit Card Number :</span>
                            <input type="number" placeholder="1111 2222 3333 4444">
                        </div>
                        <div class="input-box">
                            <span>Exp. Month :</span>
                            <input type="text" placeholder="August">
                        </div>
                    
                        <div class="flex">
                            <div class="input-box">
                                <span>Exp. Year :</span>
                                <input type="number" placeholder="2025">
                            </div>
                            <div class="input-box">
                                <span>CVV :</span>
                                <input type="number" placeholder="123">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn" style="background-color: #bf272d;">Submit</button>
                </form>
            </div>
</div>
