<section class="h-100">
  <form [formGroup]="companyForm" (ngSubmit)="successregistration()" enctype="multipart/form-data">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase" style="color: #bf272d;">Sign UP As a Company</h3>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form3Example9">Company name</label>
                    <input type="text" id="form3Example9" formControlName="name" class="form-control form-control-lg" />
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form3Example9">General manager name</label>
                    <input type="text" id="form3Example9"  class="form-control form-control-lg" />
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form3Example9">Location / Address</label>
                    <input type="text" id="form3Example9" formControlName="address" class="form-control form-control-lg" />
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form3Example9">Company email</label>
                    <input type="text" id="form3Example9" formControlName="email" class="form-control form-control-lg" />
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form3Example9">Services</label>
                    <input type="text" id="form3Example9" formControlName="services" class="form-control form-control-lg" />
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form3Example9">Password</label>
                    <input type="password" id="form3Example9" formControlName="password" class="form-control form-control-lg" />
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form3Example9">Confirm Password</label>
                    <input type="password" id="form3Example9" formControlName="password_confirmation" class="form-control form-control-lg" />
                </div>
                <div *ngIf="errorMessages.length > 0" class="alert alert-danger">
                  <ul>
                    <li *ngFor="let message of errorMessages">{{ message }}</li>
                  </ul>
                </div>


                <div class="d-flex justify-content-end pt-3">
                  <button  type="submit" (click)="successregistration()" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning btn-lg ms-2" style="background-color: #bf272d; color: white;" routerLink = "/companyprofile">Submit</button>
                </div>

              </div>
            </div>
            <div class="col-xl-6 d-none d-xl-block">
              <img src="images/company.jpg" alt="Sample photo" class="img-fluid" style="border-radius: .5rem; margin-top: 200px;" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</section>